services:
  mysql:
    image: mysql:8.0.33
    container_name: query-execution-plan-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: explain_lab
      MYSQL_USER: explain
      MYSQL_PASSWORD: explain
      TZ: Asia/Seoul
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

volumes:
  mysql_data:
