.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### CLion ###
cmake-build-*/

### ETC ###
.DS_Store
**/out
